body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }
  
  .bg-image {
    background-image: url('C:\Users\Rami\Desktop\TTS\src\assets\img\logo\backgroundconatctus.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .alert-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .alert-message {
    background-color: #E6F5E8;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    color: #000000;
    font-weight: bold;
  }
  
  .alert-message button {
    background-color: #dae3da;
    color: #FFFFFF;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .alert-message button:hover {
    background-color: #dae3da;
  }
  