<app-header></app-header>
<div class="container-fluid px-5 my-5">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="card border-0 rounded-3 shadow-lg overflow-hidden">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-sm-6 d-none d-sm-block bg-image"></div>
              <div class="col-sm-6 p-4">
                <div class="text-center">
                  <div class="h3 fw-light">Contact Form</div>
                  <p class="mb-4 text-muted">Envoyez-Nous votre Reclamation ! </p>
                </div>
  
                <!-- * * * * * * * * * * * * * *
            // * * SB Forms Contact Form * *
            // * * * * * * * * * * * * * * *
  
            // This form is pre-integrated with SB Forms.
            // To make this form functional, sign up at
            // https://startbootstrap.com/solution/contact-forms
            // to get an API token!
            -->
            <div class="form-container">
              <form id="contactForm" #form="ngForm" (ngSubmit)="envoyer(form)">
                <!-- Name Input -->
                <div class="form-floating mb-3">
                  <input class="form-control" id="name" type="text" placeholder="Name" data-sb-validations="required" name="nom" 
                    ngModel #nom="ngModel" required (ngModelChange)="checkValidName()" [class.is-invalid]="!validname" />
                  <label for="name">Name</label>
                  <div class="invalid-feedback" data-sb-feedback="nom:required">Name is required.</div>
                </div>
              
                <!-- Email Input -->
                <div class="form-floating mb-3">
                  <input class="form-control" id="email" type="email" placeholder="Email Address" name="email" 
                    ngModel #email="ngModel" required [class.is-invalid]="!validemail" (ngModelChange)="checkValidEmail()" />
                  <label for="email">Email Address</label>
                  <div class="invalid-feedback" data-sb-feedback="email:email">Email Address Email is not valid.</div>
                </div>
              
                <!-- sujet Input -->
                <div class="form-floating mb-3">
                  <input class="form-control" id="titre" type="text" placeholder="Titre" data-sb-validations="required" name="titre" 
                    ngModel #titre="ngModel" required (ngModelChange)="checkValidtitre()" [class.is-invalid]="!validtitre" />
                  <label for="titre">Titre</label>
                  <div class="invalid-feedback" data-sb-feedback="titre:required">Titre is required.</div>
                </div>
              
                <!-- Message Input -->
                <div class="form-floating mb-3">
                  <textarea class="form-control" id="message" type="text" placeholder="Message" style="height: 10rem;" data-sb-validations="required" name="message"
                    ngModel #message="ngModel" required></textarea>
                  <label for="message">Message</label>
                  <div class="invalid-feedback" data-sb-feedback="message:required">Message is required.</div>
                </div>
              
                <!-- Submit success message -->
                <div class="alert-container" *ngIf="showAlert">
                  <div class="alert-message">
                    <p>Votre Requéte a etait envoyer avec succées</p>
                    <button (click)="navigateTo()">D'accord </button>
                  </div>
                </div>
              
                <!-- Submit button -->
                <div class="d-grid">
                  <button class="btn btn-primary btn-lg " id="submitButton" type="submit">Submit</button>
                </div>
              </form>
              
            </div>
              
                <!-- End of contact form -->
  
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- CDN Link to SB Forms Scripts -->
  <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>