<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon">
      <img src="assets/img/logo/logo2.png">
    </div>
    <div class="sidebar-brand-text mx-3">RuangAdmin</div>
  </a>
  <hr class="sidebar-divider my-0">
  <li class="nav-item">
    <a class="nav-link" href="/admin-index">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Interne
  </div>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
      aria-expanded="true" aria-controls="collapseBootstrap">
      <i class="far fa-fw fa-window-maximize"></i>
      <span>clients</span>
    </a>
    <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Clients</h6>
        <a class="collapse-item " href="/ajout-client">Ajouter un client</a>
        <a class="collapse-item" href="/consulter-clients">Gérer les clients</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm" aria-expanded="true"
      aria-controls="collapseForm">
      <i class="fab fa-fw fa-wpforms"></i>
      <span>Produits</span>
    </a>
    <div id="collapseForm" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Produits</h6>
        <a class="collapse-item" href="/ajout-produit">Ajouter un Produit</a>
        <a class="collapse-item" href="/consulter-produits">Gérer les produits</a>
      </div>
    </div>
  </li>
  <li class="nav-item active">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTable" aria-expanded="true"
      aria-controls="collapseTable">
      <i class="fas fa-fw fa-table"></i>
      <span>Marques</span>
    </a>
    <div id="collapseTable" class="collapse show" aria-labelledby="headingTable" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Tables</h6>
        <a class="collapse-item " href="/ajout-marque">ajouter un marque</a>
        <a class="collapse-item active" href="/consulter-marques">Gérer les marques</a>

      </div>
    </div>
  </li>
  <li class="nav-item ">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsecategorie" aria-expanded="true"
      aria-controls="collapseTable">
      <i class="fas fa-fw fa-table"></i>
      <span>Categories</span>
    </a>
  <div id="collapsecategorie" class="collapse" aria-labelledby="headingcategorie" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Categorie</h6>
      <a class="collapse-item " href="/ajout-categorie">ajouter un categorie</a>
      <a class="collapse-item " href="/consulter-categories">Gérer les categories</a>
    </div>
  </div>
</li>
  <li class="nav-item">
    <a class="nav-link" href="consulter-commandes">
      <i class="fas fa-fw fa-palette"></i>
      <span>Commandes</span>
    </a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Externe
  </div>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePage" aria-expanded="true"
      aria-controls="collapsePage">
      <i class="fas fa-fw fa-columns"></i>
      <span>Fournisseurs</span>
    </a>
    <div id="collapsePage" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Fournisseurs</h6>
        <a class="collapse-item" href="/ajout-fournisseur">Ajouter un fournisseur</a>
        <a class="collapse-item" href="/consulter-fournisseurs">Gérer les fournisseurs</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLivreur" aria-expanded="true"
      aria-controls="collapseLivreur">
      <i class="fas fa-fw fa-columns"></i>
      <span>Livreurs</span>
    </a>
    <div id="collapseLivreur" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Livreurs</h6>
        <a class="collapse-item" href="/ajout-livreur">Ajouter un Livreur</a>
        <a class="collapse-item" href="/consulter-livreurs">Gérer les Livreurs</a>
      </div>
    </div>
  </li>

  <hr class="sidebar-divider">
  <div class="version" id="version-ruangadmin"></div>
</ul>