<footer class="section-footer bg-primary footer-dark">
    <div class="container">

    <div class="row">
      <div class="col-4">

      <section class="footer-bottom d-flex justify-content-lg-between border-top ">
        <div>
          <i class="fab fa-lg fa-cc-visa"></i>
          <i class="fab fa-lg fa-cc-amex"></i>
          <i class="fab fa-lg fa-cc-mastercard"></i>
          <i class="fab fa-lg fa-cc-paypal"></i>
        </div>

        
      </section>
      </div>
<div class="col-7">
      <aside class="col-12 col-sm-12 col-lg-7">
        <article class="me-lg-8">
          <p class="mt-4"> © 2023- 2024 Templatemount. All rights reserved. </p>

        </article>
      </aside>
    </div>
    </div>
    </div> <!-- container end.// -->
    </footer>
    
  