<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->

    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">

          <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="assets/img/boy.png" style="max-width: 60px">
                <span class="ml-2 d-none d-lg-inline text-white small" style="margin-right:15px">Livreur</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  changer mot de passe
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">

<!--*****************************************************************************************************-->
<!--*****************************************************************************************************-->
<div id="facture-print">

<div class="container-login">
  <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-body">
                    <img src="assets/img/flm.png" class="float-end font-size-15" height="100" width="100">
                    <div class="invoice-title">
                          <div class="mb-4">
                             <h2 class="mb-1 text-muted">FastLaneMarket.com</h2>
                          </div>
                          <div class="text-muted">
                              <p class="mb-1">Tunis : Bureau B1-3, Immeuble CORAL, 1082, Tunis 1002</p>
                              <p class="mb-1"><i class="uil uil-envelope-alt me-1"></i> FastLaneMarket@gmail.com</p>
                              <p><i class="uil uil-phone me-1"></i> +216 20118687</p>
                          </div>
                      </div>
  
                      <hr class="my-4">
  
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="text-muted">
                                  <h5 class="font-size-16 mb-3 " style="color: cadetblue;">Cordonnées Du Client</h5>
                                  <h5 class="font-size-15 mb-2">{{commande.my_user.nom }} {{commande.my_user.prenom }}</h5>
                                  <p class="mb-1">{{commande.adresse }}</p>
                                  <p class="mb-1">{{commande.my_user.email }}</p>
                                  <p>{{commande.my_user.numtel }}</p>
                              </div>
                          </div>
                          <!-- end col -->
                          <div class="col-sm-6">
                              <div class="text-muted text-sm-end">
                                  <div>
                                      <h5 class="font-size-15 mb-1">Numero de Commande :</h5>
                                      <p>#{{commande.ref_commande }}</p>
                                  </div>
                                  <div class="mt-4">
                                      <h5 class="font-size-15 mb-1">Date de Commande :</h5>
                                      <p>{{commande.date_commande}}</p>
                                  </div>
 
                              </div>
                          </div>
                          <!-- end col -->
                      </div>
                      <!-- end row -->
                      
                      <div class="py-2">
                          <h5 class="font-size-15">Liste des Produits</h5>
  
                          <div class="table-responsive">
                              <table class="table align-middle table-nowrap table-centered mb-0">
                                  <thead>
                                      <tr>
                                          <th style="width: 70px;">Ref_produit</th>
                                          <th>Nom Produit</th>
                                          <th>prix</th>
                                          <th>Quantité</th>
                                          <th class="text-end" style="width: 120px;">Montant</th>
                                      </tr>
                                  </thead><!-- end thead -->
                                  <tbody *ngFor="let produit of commande.produits">
                                      <tr>
                                          <th scope="row">{{produit.ref_produit}}</th>
                                          <td>
                                              <div>
                                                  <h5 class="text-truncate font-size-14 mb-1">{{produit.nom_produit}}</h5>
                                                  <p class="text-muted mb-0">{{produit.categorie.nom_categorie}}, {{produit.marque.nom_marque}}</p>
                                              </div>
                                          </td>
                                          <td>{{produit.prix_produit}} DT</td>
                                          <td>{{produit.quantite}}</td>
                                          <td class="text-end">{{produit.prix_produit * produit.quantite}} DT</td>
                                      </tr>
                                      <!-- end tr -->
                                      <!-- end tr -->
                                    </tbody>
                                      <tr>
                                          <th scope="row" colspan="4" class="text-end"> Sous-total</th>
                                          <td class="text-end">{{totalMontant}} DT</td>
                                      </tr>
                                      <!-- end tr -->
                                      <tr>
                                          <th scope="row" colspan="4" class="border-0 text-end">
                                              Tax :</th>
                                          <td class="border-0 text-end">0 DT</td>
                                      </tr>
                                      <!-- end tr -->
                                      <tr>
                                          <th scope="row" colspan="4" class="border-0 text-end">
                                              Livraison :</th>
                                          <td class="border-0 text-end">7 DT</td>
                                      </tr>
                                      <!-- end tr -->

                                      <!-- end tr -->
                                      <tr>
                                          <th scope="row" colspan="4" class="border-0 text-end">Total</th>
                                          <td class="border-0 text-end"><h4 class="m-0 fw-semibold">{{totalMontant + 7  +"DT"}}  </h4></td>
                                      </tr>
                                      <!-- end tr -->
                                 <!-- end tbody -->
                              </table><!-- end table -->
                          </div><!-- end table responsive -->
                          <div class="d-print-none mt-4">
                              <div class="float-end">
                                  <a href="javascript:window.print()" class="btn btn-success me-1">Imprimer     <i class="fa fa-print"></i></a>
                                  <a href="/livreur/consulter-commandes" class="btn btn-primary w-md">Retour</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div><!-- end col -->
      </div>
  </div>
</div>

<!--*****************************************************************************************************-->
<!--*****************************************************************************************************-->


          <!-- Modal Logout -->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                  <button (click)="logout()" class="btn btn-primary">Logout</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!---Container Fluid-->
      </div>
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>copyright &copy; <script> document.write(new Date().getFullYear()); </script>  2023 infolib. All rights reserved - developed by
              <b><a href="https://indrijunanda.gitlab.io/" target="_blank">Rami Elfil</a></b>
            </span>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



</body>

</html>
