<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="assets/img/logo/logo.png" rel="icon">
  <title>RuangAdmin - Simple Tables</title>

</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
          <img src="assets/img/flm.png">
        </div>
        <div class="sidebar-brand-text mx-3">Fast Lane Market</div>
      </a>
      <hr class="sidebar-divider my-0">





      <li class="nav-item ">
        <a class="nav-link" href="/livreur/consulter-commandes">
          <i class="fas fa-fw fa-palette"></i>
          <span>Commandes</span>
        </a>
      </li>




      <hr class="sidebar-divider">
      <div class="version" id="version-ruangadmin"></div>
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">

          <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="assets/img/boy.png" style="max-width: 60px">
                <span class="ml-2 d-none d-lg-inline text-white small" style="margin-right:15px">Livreur</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item active" href="/l-modifier-profil">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item " href="/l-modifier-password">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  changer mot de passe
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->
        <!-- Container Fluid-->
        <div class="container-login" id="container-wrapper">

          
<!--*****************************************************************************************************-->
<!--*****************************************************************************************************-->
<div class="container-login h-custom">

	<div class="row">


	<div class="col-xl-1 col-lg-1 col-md-1"></div>
	<div class="col-xl-10 col-lg-10 col-md-10 col-sm-12" > 
		<div class="container-login">
			<div class="row justify-content-center">
				<div class="card shadow-sm my-5">
				  <div class="card-body p-0 card bg-light mb-3">
					  <div class="col-lg-12">
						<div class="login-form">
						  <div class="text-center">
							<h1 class="h4 text-gray-900 mb-4">Modifier profil</h1>
						  </div>
                          <form class="user form-floating" #form="ngForm" (ngSubmit)="save_modif(livreur)">
                            <div class="form-group">
                              <label for="nom">Nom</label>
                              <input type="text" class="form-control" [class.is-invalid]="!validname" id="nom" placeholder="Nom"
                                     [(ngModel)]="livreur.nom" name="nom" required #nomInput (ngModelChange)="checkValidName()">
                          
                              <span class="alert" *ngIf="!validname && nomInput.value === ''">
                                <label for="nom" style="color: black;">Entrée non valide</label>
                              </span>
                            </div>
                          
                            <div class="form-group">
                              <label for="prenom">Prénom</label>
                              <input type="text" class="form-control" [class.is-invalid]="!validprenom" id="prenom" placeholder="Prénom"
                                     [(ngModel)]="livreur.prenom" name="prenom" required #prenomInput (ngModelChange)="checkValidPrenom()">
                          
                              <span class="alert" *ngIf="!validprenom && prenomInput.value === ''">
                                <label for="prenom" style="color: black;">Entrée non valide</label>
                              </span>
                            </div>
                          
                            <div class="form-group">
                              <label for="numtel">Numéro de téléphone</label>
                              <input type="text" class="form-control" [class.is-invalid]="!validnumtel" id="numtel" placeholder="Numéro de téléphone"
                                     [(ngModel)]="livreur.numtel" name="numtel" required #numtelInput (ngModelChange)="checkValidNumTel()">
                          
                              <span class="alert" *ngIf="!validnumtel">
                                <label for="numtel" style="color: black;">Entrée non valide</label>
                              </span>
                            </div>
                          
                            <div class="form-group">
                              <label for="email">Email</label>
                              <input type="email" class="form-control" [class.is-invalid]="!validemail" id="email" placeholder="Entrer Adresse Email"
                                     [(ngModel)]="livreur.email" name="email" required #emailInput (ngModelChange)="checkValidEmail()">
                          
                              <span class="alert" *ngIf="!validemail">
                                <label for="email" style="color: black;">Entrée non valide</label>
                              </span>
                            </div>
                          
                            <div class="form-group">
                              <button class="btn btn-primary btn-block" [disabled]="!validname || !validprenom || !validemail || !validnumtel">
                                Confirmer
                              </button>
                              <br>
                            </div>
                          </form>
                          
		
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>

		</div>
        <div class="col-xl-1 col-lg-1 col-md-1"></div>

	</div>
	</div>              

<!--*****************************************************************************************************-->
<!--*****************************************************************************************************-->

          <!--Row-->

          <!-- Modal Logout -->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                  <button (click)="logout()" class="btn btn-primary">Logout</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!---Container Fluid-->
      </div>
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>copyright &copy; <script> document.write(new Date().getFullYear()); </script>  2023 infolib. All rights reserved - developed by
              <b><a href="https://indrijunanda.gitlab.io/" target="_blank">Rami Elfil</a></b>
            </span>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



</body>

</html>