/* You can add global styles to this file, and also import other style files */
.form-control.ng-touched.ng-invalid{
    border-left: 5px solid rgb(255, 68, 68);
}
.form-control.ng-valid{
    border-left: 5px solid rgb(74, 166, 74);
}
.alert{
    font-size: 13px;
    
}
